.logo{
    font-size: 50px;
    font-family: 'Viga', sans-serif;
    letter-spacing: 3px;
    text-align: left;
    padding-right: 20px;
}
a:active{
    color: lightskyblue;
}

a:visited{
    color: lightgreen
}
a:link{
    text-decoration: none;
}
a:hover{
    color: lightpink;

}
#cupsText{
    margin-bottom: 5px;
}
#warningText{
    margin-top: 10px;
}
#formThing{
    margin: 2%;
    padding: 10px;
    text-align: center;
    font-family: 'Viga', sans-serif;
    color: white;
    letter-spacing: 3px;
    text-shadow: #808080; 
    font-size: 30px;

}
#formThing2{
    margin: 2%;
}
.emoji{
    font-size: 30px; 
}
.input1{
    display: block;
    width: 100%;
    text-align: center;
    height: 50px;
    background: transparent;
    font-family: 'Viga', sans-serif;
    font-size: 22px;
    color: white;
    line-height: 1.2;
    padding: 0 2px;
}
.button4{
    margin: 10px; 
    padding: 10px;
    display: inline-block;
    border:0.1em solid #FFFFFF;
    border-radius: 2em;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.2s;
    font-family: 'Chango', cursive;
}
.button4:hover{
    background-color:#ffff99;
    border-color:rgba(255,255,255,1)
}
/*Custom scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px;
  }