
h2{
    font-size: 50px;
    font-family: 'Viga', sans-serif;
    position: absolute;
    top: 200px;
    left: 0; 
    width: 100%;
    padding-left: 50%;
    
}
body{
    background-image: url(/images/sunset\ background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
